[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git

[submodule "3rd-party/spirv-cross"]
	path = 3rd-party/spirv-cross
	url = https://github.com/DiligentGraphics/SPIRV-Cross.git
